// icons
$urlIcnAppstore: url('~images/ic-appstore.svg');
$urlIcnAndroid: url('~images/ic-android.svg');
$urlIcnArrowBack: url('~images/ic-arrow-back.svg');
$urlIcnHiddenLocation: url('~images/ic-hidden-location.svg');
$urlIcnActiveLocation: url('~images/ic-active-location.svg');
$urlIcnSmile: url('~images/ic_smile.svg');
$urlIcnSmileActive: url('~images/ic_smile_active.svg');
$urlIcnSendLocation: url('~images/ic_send_location.svg');
$urlIcnSendLocationActive: url('~images/ic_send_location_active.svg');
$urlIcnAttach: url('~images/ic_attach.svg');
$urlIcnAttach2: url('~images/icon-attach.svg');
$urlIcnSend: url('~images/ic-send.svg');
$urlIcnFb: url('~images/icon-fb.svg');
$urlIcnFbHeader: url('~images/icon-fb_header.svg');
$urlIcnInvite: url('~images/icon-invite.svg?1464359307');
$urlIcnGroup: url('~images/ic_group.svg');
$urlIcnMenu: url('~images/ic_menu.svg');
$urlIcnPencil: url('~images/icon-pencil.svg');
$urlIcnSearch: url('~images/ic_search.svg');
$urlIcnSearch2: url('~images/icon-search.svg');
$urlIcnLocationSm: url('~images/ic_location_sm.svg');
$urlIcnPlayVideo: url('~images/ic-play-video.svg');
$urlIcnPause: url('~images/pause-ic.svg');
$urlIcnPlay: url('~images/play-ic.svg');
$urlIcnSendRecord: url('~images/ic_send_record.svg');
$urlIcnCancelRecord: url('~images/ic_cancel_record.svg');
$urlIcnClose: url('~images/ic-close.svg');
$urlIcnNotifications: url('~images/ic-notifications.svg');
$urlIcnFeedback: url('~images/ic-feedback.svg');
$urlIcnHelpOutline: url('~images/ic-help-outline.svg');
$urlIcnMic: url('~images/ic_mic.svg');
$urlIcnMicActive: url('~images/ic_mic_active.svg');
$urlIcnMicOff: url('~images/ic_mic_off.svg');

// webrtc
$urlIcnCurrentVideocall: url('~images/icon-current-videocall.svg');
$urlIcnCurrentAudiocall: url('~images/icon-current-audiocall.svg');
$urlIcnVideoIncoming: url('~images/icon-video-incoming.svg');
$urlIcnAudioIncoming: url('~images/icon-audio-incoming.svg');
$urlIcnVideoOutgoing: url('~images/icon-video-outgoing.svg');
$urlIcnAudioOutgoing: url('~images/icon-audio-outgoing.svg');
$urlIcnVideoMissed: url('~images/icon-video-missed.svg');
$urlIcnAudioMissed: url('~images/icon-audio-missed.svg');
$urlIcnVideoEnded: url('~images/icon-video-ended.svg');
$urlIcnAudioEnded: url('~images/icon-audio-ended.svg');
$urlIcnFullModeOn: url('~images/icon-full-mode-on.png');
$urlIcnFullModeOff: url('~images/icon-full-mode-off.png');

// smiles groups
$urlSmilesPeople: url('~images/smiles-group/people.svg');
$urlSmilesNature: url('~images/smiles-group/nature.svg');
$urlSmilesObjects: url('~images/smiles-group/objects.svg');
$urlSmilesPlaces: url('~images/smiles-group/places.svg');
$urlSmilesSymbols: url('~images/smiles-group/symbols.svg');
$urlSmilesPeopleActive: url('~images/smiles-group/people_active.svg');
$urlSmilesNatureActive: url('~images/smiles-group/nature_active.svg');
$urlSmilesObjectsActive: url('~images/smiles-group/objects_active.svg');
$urlSmilesPlacesActive: url('~images/smiles-group/places_active.svg');
$urlSmilesSymbolsActive: url('~images/smiles-group/symbols_active.svg');

// logo
$urlQmLogo: url('~images/qm-logo.svg');
$urlFbLogo: url('~images/fb-logo.svg');
$urlLaunchQbLogo: url('~images/qmweb-launch-qblogo.svg');

// other
$urlAvaSingle: url('~images/ava-single.svg');
$urlAvaGroup: url('~images/ava-group.svg');
$urlScrollToBottom: url('~images/scrolltobottom.svg');
