.popups {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $black_47;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.importWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.passWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.profileWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup {
    position: fixed;
    top: 25%;
    left: 50%;
    background: $white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
    transform: translate(-50%, -50%);
}

.popup_details {
    width: 460px;
    border: 1px solid $color_wild_sand_approx;
}

.popup_password {
    width: 460px;
}

.popup_attach {
    padding: 5px;
}

.popup_avatar {
    padding: 5px;
}

.open_map {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 300px;
}

.send_map {
    opacity: 1;
    margin: 10px auto 0;
    display: block;
    width: 140px;
    height: 20px;
    font-family: $fontRoboto;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: $color_silver_approx;
    text-align: center;
    vertical-align: middle;

    &:hover {
        opacity: 1;
        margin: 10px auto 0;
        display: block;
        width: 140px;
        height: 20px;
        font-family: $fontRoboto;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: $color_silver_approx;
        text-align: center;
        vertical-align: middle;
    }
}

.send_map.is-active {
    color: $color_malachite_approx;
}

.popup_delete {
    width: 400px;
    height: 195px;
    border: 1px solid $color_wild_sand_approx;
}

.popup-control-button_ok {
    margin-right: 15px;
    color: $color_denim_approx;
}

.popup_import {
    width: 400px;
    height: 195px;
    border: 1px solid $color_wild_sand_approx;

    .popup-control-button_ok {
        margin-right: 0;
    }
}

.popup_leave {
    width: 400px;
    height: 195px;
    border: 1px solid $color_wild_sand_approx;
}

.popup_logout {
    width: 400px;
    height: 195px;
    border: 1px solid $color_wild_sand_approx;
}

.disconnect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, height 0.5s;
    z-index: 3;
}

.disconnect.disconnected {
    opacity: 1;
    height: 50px;
    visibility: visible;
    background-color: $color_mountain_mist_approx;
}

.popup_connect {
    width: 100px;
    height: 100px;
}

.popup_geo_info {
    width: 400px;
    height: 98px;
    padding: 10px;
    text-align: center;
    border: 1px solid $color_wild_sand_approx;
}

#chatConnecting.popup {
    transition: none;
    background: none;
}

.popup-alert {
    height: calc(100% - 45px);
    text-align: center;
}

.popup_contacts {
    width: 460px;
    height: 586px;
}

.popup_profile {
    width: 460px;
    height: 586px;
}

.popup_search {
    width: 460px;
    height: 586px;
}

.temp-box {
    width: 460px;
    height: 586px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.popup-header {
    margin-top: -1px;
    padding: 0 20px;
    background: $color_wild_sand_approx;
    border-bottom: 1px solid $color_wild_sand_approx;

    h3 {
        font-size: 18px;
        line-height: 60px;
        color: $color_mine_shaft_approx;
    }
}

.popup-form {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid $color_wild_sand_approx;
}

.popup-content {
    height: calc(100% - 170px);
}

.not-selected {
    .popup-content {
        height: calc(100% - 110px);
    }

    .popup-footer {
        display: none;
    }
}

.popup-footer_changepass {
    height: 60px;
}

.popup-controls {
    padding-bottom: 25px;
    text-align: center;
}

.popup-control-button {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.popup-control-button_cancel {
    margin-right: 35px;
    color: $color_mountain_mist_approx;
}

.popup-nofriends {
    height: calc(586px - 61px);
}

.alert {
    color: $color_mine_shaft_approx;
}

.alert_logout {
    font-size: 20px;
    line-height: 26px;
}

.alert_import {
    font-size: 18px;
    line-height: 24px;
}

.alert_delete {
    font-size: 26px;
    line-height: 32px;
}

.alert_geo_info {
    font-size: 18px;
    line-height: 24px;
}

.attach_map {
    width: 380px;
    height: 200px;
}

.attach-file {
    display: inline-block;
    padding-left: 18px;
    line-height: 25px;
    color: $color_denim_approx;
    background: $urlIcnAttach2 no-repeat 0 0;
    background-size: 10px auto;
    word-break: break-all;
}

.attach-size {
    margin-left: 5px;
    font-size: 14px;
    color: $color_mountain_mist_approx;
}

.attach-upload {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: normal;

    .progressbar-control {
        float: left;
        top: 13px;
        width: 55% !important;
        height: 4px !important;
        margin: 0 10px;
        border: 0;

        .item-bar {
            height: 4px;
            margin: 0;
            border: 0;
        }
    }
}

.message_attach_row {
    .progressbar-control {
        top: 17px;
    }
}

.attach-photo {
    max-width: 80vw;
    max-height: 80vh;
    margin-bottom: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.avatar-pic {
    max-width: 80vw;
    max-height: 80vh;
    margin-bottom: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.attach-video {
    width: 640px !important;
    height: 481px !important;
    margin-bottom: 20px;
}

.attach-audio {
    width: 430px;
}

.file-download {
    position: absolute;
    top: 0;
    right: -108px;
    font-size: 13px;
}

.attach-description {
    font-size: 16px;
}

.avatar-description {
    font-size: 16px;
}

.attach-name {
    color: $color_mountain_mist_approx;
    height: 20px;
    line-height: 20px;
    display: block;
    max-width: 680px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.avatar-name {
    color: $color_mountain_mist_approx;
    height: 20px;
    line-height: 20px;
    display: block;
    max-width: 680px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.attach-download {
    color: $color_denim_approx;
}
