.l-flexbox {
    display: flex;
    align-items: center;
}

.l-flexbox_inline {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.l-flexbox_column {
    flex-direction: column;
}

.l-flexbox_flexcenter {
    justify-content: center;
}

.l-flexbox_flexend {
    justify-content: flex-end;
}

.l-flexbox_flexbetween {
    justify-content: space-between;
}

.l-flexbox_flexwrap {
    flex-wrap: wrap;
}

.l-flexbox_alignstretch {
    align-items: stretch;
}

.l-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.l-page.l-chat_wrapper {
    width: 1000px;
    height: 100%;
}

.l-page {
    height: 100%;
    min-height: 520px;
}

.l-welcome_container {
    width: 416px;
    height: 488px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.l-welcome_container.reset_pas {
    height: 318px;
    top: calc(50% + 45px);
}

.l-welcome_main_logo {
    padding-top: 79px;
}

.l-welcome_block {
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.l-welcome_logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: $urlQmLogo 50% no-repeat;
}

.l-welcome_text_logo {
    width: 283px;
    height: 49px;
    margin: 35px auto 0;
    font-family: $fontRoboto;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 3.7px;
    color: $color_dove_gray_approx;
}

.l-welcome_text_description {
    margin: 6px auto 0;
    width: 110px;
    height: 19px;
    font-family: $fontRoboto;
    font-size: 16px;
    font-weight: normal;
    color: $color_malachite_approx;
}

.l-welcome_logo_login {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50px;
    left: 56px;
    background: $urlQmLogo 50% no-repeat;
    background-size: cover;
}

.l-welcome_text_logo_login {
    width: 150px;
    height: 25px;
    position: absolute;
    top: 51px;
    left: 118px;
    font-family: $fontRoboto;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    color: $color_dove_gray_approx;
}

.l-welcome_text_login {
    width: 40px;
    height: 16px;
    position: absolute;
    top: 80px;
    left: 118px;
    font-family: $fontRoboto;
    font-size: 14px;
    font-weight: normal;
    color: $color_mountain_mist_approx;
}

.l-form {
    position: relative;
    left: 56px;
    width: 304px;
}

.l-form_login {
    top: 120px;
}

.l-form_reset {
    top: 18px;
}

.l-spinner {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.l-welcome_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 416px;
    height: 24px;
    bottom: -40px;
}

.l-welcome_footer_logo {
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 110px;
    }
}

.l-welcome_header_forgot {
    padding: 50px 0 0 53px;
}

.l-container {
    height: calc(100% - 40px);
    background: $white;
    border-left: 1px solid $color_geyser_approx;
    border-right: 1px solid $color_geyser_approx;
    border-top: 0;
}

.l-header {
    z-index: 2;
    background-color: $white;
    position: relative;
    height: 50px;
    padding: 0 12px;
}

.l-header-logo {
    height: 32px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .l-header-logo-text {
        text-transform: uppercase;
        font-family: $fontRoboto;
        font-size: 18px;
        letter-spacing: 3px;
        color: $color_slate_gray_approx;
    }
}

.l-content {
    position: relative;
    height: 100%;
}

.l-sidebar {
    position: relative;
    width: 330px;
    height: 100%;
    border-right: 1px solid $color_geyser_approx;
}

.l-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: $white;
    height: 56px;
    padding: 12px;
}

.l-list-wrap {
    height: calc(100% - 105px);
    position: relative;
}

.l-list-header {
    padding: 0 15px;
    background: $color_wild_sand_approx;
}

.l-list-header-title {
    font-size: 14px;
    line-height: 25px;
    color: $color_mountain_mist_approx;
    text-transform: uppercase;
}

.l-workspace-wrap {
    position: relative;
    width: calc(100% - 330px);
    height: 100%;
}

.l-workspace {
    height: 100%;
    overflow: visible;
}

.l-cap {
    height: 63vh;
    margin: auto;
}

.l-cap_contacts {
    height: auto;
}

.l-footer {
    z-index: 2;
    background-color: $white;
    border-top: 1px solid $color_geyser_approx;
    position: relative;
    height: 40px;
    padding: 0 20px;
}

.l-app-version {
    height: 40px;
    line-height: 40px;
    width: 130px;
    text-align: right;
    font-size: 14px;
    color: $color_mountain_mist_approx;
}

.welcom-app-version {
    text-align: right;
    font-size: 14px;
    color: $color_mountain_mist_approx;
}

.chatView {
    height: 100%;
}

.l-chat {
    height: 100%;
}

.l-chat-content {
    position: relative;
    height: calc(100% - 140px);
    overflow-y: auto;
}

.l-chat_group {
    position: relative;

    .l-chat-content {
        height: calc(100% - 140px);
    }

    .l-chat-content_min {
        margin-top: 94px;
        height: calc(100% - 234px);
    }
}

.l-chat-header {
    z-index: 1;
    position: relative;
    height: 50px;
    padding: 0 20px;
    background: $color_desert_storm_approx;
    border-bottom: 1px solid $color_geyser_approx;
}

.is-request {
    .l-chat-content {
        height: calc(100% - 50px);
    }
}

.l-chat-footer {
    z-index: 1;
    background-color: $white;
    height: 90px;
    padding: 0 5px 5px;
    border-top: 1px solid $color_geyser_approx;
    position: relative;
}

.l-message {
    position: relative;
    height: 55px;
}

.l-typing {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    height: 34px;
    width: 475px;
}

.l-input-menu {
    display: inline-flex;
    justify-content: space-around;
    vertical-align: top;
    text-align: center;
    height: 33px;
    width: 168px;
    position: relative;

    .l-input-buttons {
        display: block;
        height: 100%;
        cursor: pointer;
    }
}
