@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    100%,
    80% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    animation: rotate 2s infinite linear;
}

.spinner-dot1 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $color_malachite_approx;
    border-radius: 100%;
    animation: bounce 2s infinite ease-in-out;
}

.spinner-dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    background-color: $color_malachite_approx;
    border-radius: 100%;
    animation: bounce 2s infinite ease-in-out;
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

.spinner_bounce {
    margin: 10px auto;
    width: 70px;
    text-align: center;

    > div {
        width: 14px;
        height: 14px;
        background-color: $color_malachite_approx;
        border-radius: 100%;
        display: inline-block;
        animation: bouncedelay 1.4s infinite ease-in-out;
        animation-fill-mode: both;
    }
}

.spinner_bounce_changepass {
    margin: auto;
    position: relative;
    top: 25px;
}

.spinner_bounce-bounce1 {
    animation-delay: -0.32s !important;
}

.spinner_bounce-bounce2 {
    animation-delay: -0.16s !important;
}

.spinner_bounce.is-typing {
    margin: 0;

    > div {
        width: 8px;
        height: 8px;
        margin-right: 5px;
        background-color: $color_nobel_approx;
    }
}
